<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Tipe Kamar</h2>
            <br>
        </div>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 text-center row-gap">
                <i class="fa fa-bed fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <h3>Standard Fan IDR75K</h3>
                <p>Rp 75.000/malam</p>
                <p>Kipas Angin, kamar mandi dalam dan perlengkapan mandi. (sabun mandi, sikat gigi dan pasta gigi,
                    shampoo
                    dan handuk)</p>
            </div>
            <div class="col-md-4 text-center row-gap">
                <i class="fa fa-bed fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <h3>Standard AC</h3>
                <p>Rp 125.000/malam</p>
                <p>Ac,Tv,kamar mandi dalam dan perlengkapan mandi (sabun mandi, sikat gigi, pasta gigi, sampoo dan
                    handuk)
                </p>
            </div>
            <div class="col-md-4 text-center row-gap">
                <i class="fa fa-bed fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <h3>Deluxe</h3>
                <p>Rp 195.000/malam</p>
                <p>Ac,Tv,kamar mandi dalam, sudah menggunakan shower air panas dan dingin, perlengkapan mandi (sabun
                    mandi,sikat gigi,pasta gigi shampoo dan handuk)</p>
            </div>
        </div>
    </div>
</aside>