<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Akomodasi Murah di Kupang, NTT!</h2>
                <hr class="light">
                <p class="text-faded">
                    Hotel LEDETADU terletak kurang lebih 5 menit dari bandara EL TARI
                    KUPANG NTT. Kami menyediakan fasilitas penginapan dekat bandara yang
                    nyaman & murah. Letaknya yang strategis membuat LEDETADU hotel di
                    Kupang yang ideal bagi tamu-tamu transit atau bagi yang melakukan
                    perjalanan bisnis. Akses dari bandara EL Tari Kupang ke Hotel LEDETADU
                    dapat menggunakan taksi atau ojek (ekonomis).                </p>
                <a href="#contact" class="btn btn-default btn-xl">Pesan Kamar</a>
            </div>
        </div>
    </div>
</section>
