<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Booking Kamar Sekarang!</h2>
                <hr class="primary">
                <p>24 Jam Frontdesk. Hubugni kami kapan saja melalui telpon dan whatsapp!</p>
                <br>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="tel:{{ site.phone_number }}">
                    <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.phone_number }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://wa.me/{{ site.whatsapp_number }}">
                    <i class="fa fa-whatsapp fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.whatsapp_number }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://www.google.com/travel/hotels/s/wLp8GhJrcmUov8tr9">
                    <i class="fa fa-location-dot fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Jalan Matahari. No. 60 Oesapa Selatan</p>
                </a>
            </div>
        </div>
    </div>
</section>