<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Semuanya tersedia</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plane-departure wow bounceIn text-primary"></i>
                    <h3>Dekat Bandara</h3>
                    <p class="text-muted">2.5 km dari bandara / 5 menit berkendara</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rupiah-sign wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Murah</h3>
                    <p class="text-muted">Kamar budget mulai dari Rp.75rb/malam (Fan)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-warehouse wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Dekat Pertokoan dan Sekolah</h3>
                    <p class="text-muted">5 menit ke supermarket HyperStore, UNDANA, UNWIRA, dll</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-utensils wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Dine - In</h3>
                    <p class="text-muted">Tersedia on-site Mini Shop, Cafe (Eat Toast), dan Secangkir Kebahagiaan (Kopi Kekinian)</p>
                </div>
            </div>
        </div>
    </div>
</section>
